* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
 body {
  background: linear-gradient(180deg, #E9F7EF, #FFFFFF);
  color: #1a1a1a;
}


  
.header {
  background: #1E7F43;
  color: white;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

  
  
  .container {
    padding: 16px;
    padding-bottom: 80px;
  }
  
  .card {
  background: #ffffff;
  border-left: 6px solid #1E7F43;
}

  
  .button {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .button-green {
    background: #1E7F43;
    color: white;
  }
  
  .button-blue {
    background: #1F6AE1;
    color: white;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #ddd;
  }
  
  .bottom-nav button {
    background: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
  }

.button:active {
  transform: scale(0.97);
}

  .center {
    text-align: center;
    margin-top: 40px;
  }


